.newsletter_container {
  display: grid;
  grid-template-areas:
    "sprite ."
    "sprite form"
    "sprite .";
  grid-template-columns: min-content auto;
  column-gap: 55px;

  .sprite {
    grid-area: sprite;
    height: 435px;
    max-width: 280px;
  }
  .form {
    grid-area: form;
  }
}

@media only screen and (max-width: 768px) {
  .newsletter_container {
    grid-template-areas:
      "title"
      "desc"
      "form";
    grid-template-columns: unset;

    .sprite,
    .giveaway {
      display: none;
    }
    form {
      input[type="email"] {
        border-radius: 4px;
      }
      input[type="submit"] {
        width: 150px;
        border-radius: 4px;
      }
    }
  }
}
