.banner {
  position: fixed;
  top: 0;
  height: 120px;
  background-color: var(--primary-color);
  width: 100%;
  padding: 2em 0;
  z-index: 999;

  .content {
    display: flex;
    justify-content: space-between;
    max-width: 900px;
    margin: 16px auto;

    .text {
      p,
      h4 {
        margin: 0;
        font-size: var(--subtitle);
      }
    }

    a {
      border: 2px solid white;
      border-radius: 4px;
      background-color: transparent;
      color: #fff;
      padding: 10px 18px;
      text-transform: uppercase;
      font-size: var(--subtitle);
      font-weight: bold;
      cursor: pointer;
      display: grid;
      place-items: center;

      background: linear-gradient(to left, transparent 50%, #fff 50%) right;
      background-size: 200%;
      transition: 0.2s ease-out;
      position: relative;

      &:hover {
        background-position: left;
        color: var(--primary-color);
      }
    }
  }
}

@media only screen and (max-width: 900px) {
  .banner {
    padding: 0.5em 20px;
    .content {
      flex-direction: column;
      row-gap: 1em;

      .text {
        text-align: center;
        font-size: 2rem;
        p {
          display: none;
        }
      }

      a {
        margin: 0 auto;
      }
    }
  }
}

@media only screen and (max-width: 450px) {
  .banner {
    .content {
      margin: 0 auto;
    }
  }
}
