.button {
  grid-area: btn;
  text-transform: uppercase;
  background-color: transparent;
  border: 2px solid var(--primary-color);
  height: 52px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 16px;
  margin-top: 16px;
  font-size: var(--button);
  font-weight: bold;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

  background: linear-gradient(
      to left,
      transparent 50%,
      var(--primary-color) 50%
    )
    right;
  background-size: 200%;
  transition: 0.2s ease-out;

  &:hover {
    background-position: left;
    filter: drop-shadow(0px 0px 6px var(--primary-color));
  }
}
