.container {
  padding: 32px 44px;
  background-color: var(--secondary-bg-color);
  max-width: 40em;
  height: max-content;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);

  .package {
    display: grid;
    grid-template-areas:
      "label label"
      "title title"
      "discount price"
      "vat vat"
      "li li"
      ". .";
    column-gap: 2em;
    place-items: center;

    .label {
      grid-area: label;
      padding: 6px 6px 4px 6px;
      background-color: var(--secondary-color);
      min-width: 12em;
      border-radius: 4px;
      color: var(--primary-bg-color);
      font-weight: bold;
      font-size: var(--button);
      text-align: center;
      text-transform: uppercase;
    }
    .title {
      grid-area: title;
      text-transform: uppercase;
      text-align: center;
      font-size: var(--subtitle);
      font-weight: bold;
    }
    .price {
      grid-area: discount;
      color: gray;
      text-decoration: line-through;
      font-size: var(--subtitle);
      margin: auto;
      margin-right: 0;
      font-weight: 500;
    }
    .discounted_price {
      grid-area: price;
      margin: auto;
      margin-left: 0;
    }
    .vat {
      grid-area: vat;
      font-weight: 600;
      font-size: 1.4rem;
      opacity: 0.5;
      margin: 0;
    }

    ul {
      grid-area: li;
      list-style: none;
      padding: 0;

      li {
        display: grid;
        grid-template-columns: auto 1fr;
        column-gap: 0.5em;
        font-size: var(--body-regular);
        margin: 14px auto 14px 0;
      }
    }

    #check {
      background-color: var(--green);
      border-radius: 50%;
      width: 16px;
      height: 16px;
      margin: auto 0;

      display: grid;
      place-items: center;

      img {
        margin-top: 1px;
        width: 10px;
      }
    }
  }
}
