.video_card {
  margin: 0 auto;
  max-width: 440px;
  background-color: var(--secondary-bg-color);
  cursor: pointer;
  border-radius: 8px;
  padding-bottom: 32px;

  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.7);

  display: grid;
  grid-template-areas:
    "img"
    "title"
    "desc";
  grid-template-rows: max-content min-content max-content;
  transition: transform 0.3s ease;

  img {
    grid-area: img;
    width: 100%;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
  }
  h1 {
    grid-area: title;
    padding: 16px;
    font-size: var(--subtitle);
  }
  p {
    grid-area: desc;
    padding: 0 16px 0 16px;
    line-height: 21px;
    overflow: hidden;
  }
  .line_clamp {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
  h1,
  p {
    margin: 0;
  }

  &:hover {
    transform: translateY(-8px);
  }
}
