.header {
  background-color: transparent;
  z-index: 99;
  width: 100%;
  top: 0;

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1240px;
    margin: 0 auto;

    .logo {
      margin: 0 0 0 20px;
      padding: 0;
      font-size: 2.6rem;
      font-weight: 600;
      cursor: pointer;

      img {
        vertical-align: middle;
        max-height: 80px;
      }
    }
    .navItems {
      list-style: none;
      margin: 0 20px 0 0;
      padding: 0;

      li {
        display: inline-block;
        color: var(--text-color);
        font-size: 2.2rem;
        font-weight: 500;
        text-transform: uppercase;
        cursor: pointer;
        padding: 14px;
        margin: 0 4px;
        border-radius: 4px;

        &:hover {
          color: #000000;
        }

        &:last-child {
          padding-right: 0;
        }
      }
    }
    .mobileMenu {
      margin: 0 20px 0 0;
      display: none;
      -webkit-transform: scaleX(-1);
      transform: scaleX(-1);
      .bar {
        height: 4px;
        width: 36px;
        margin: 4px 0;
        border-radius: 2px;
        background-color: var(--text-color);

        &:first-child {
          width: 60%;
        }
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .header {
    position: fixed;
    background-color: var(--main-bg-color);
    nav {
      display: grid;
      grid-template-areas:
        "logo lang menu"
        "ul ul ul";
      grid-template-rows: 60px auto;
      min-height: 60px;

      .logo {
        font-size: 2rem;

        img {
          max-height: 70px;
        }
      }

      .navItems {
        margin: 0;
        grid-area: ul;
        display: none;
        -webkit-box-shadow: 0px 6px 9px -4px #111; 
        box-shadow: 0px 6px 9px -4px #111;
        li {
          display: block;
          text-align: center;
          padding: 20px;
          width: 100%;
          margin: 8px auto;
          font-weight: 600;

          &:last-child {
            padding-right: 20px;
          }
        }
      }
      .mobileMenu {
        grid-area: menu;
        display: block;
        float: right;
      }

      .active {
        display: block;
      }
    }
  }
}
