.header {
  background-color: transparent;
  z-index: 99;
  width: 100%;
  top: 0;
  padding: 16px 0;

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1180px;
    margin: 0 auto;

    .logo {
      margin: 0 0 0 20px;
      padding: 0;
      font-size: 2.6rem;
      font-weight: 600;
      cursor: pointer;

      img {
        vertical-align: middle;
        max-height: 80px;
      }
    }
    .navItems {
      list-style: none;
      margin: 0 20px 0 0;
      padding: 0;

      li {
        display: inline-block;
        color: var(--primary-text-color);
        font-size: 2.2rem;
        font-weight: 500;
        margin: 0 4px;

        &:hover {
          color: rgb(235, 235, 235);
        }

        a {
          padding: 14px;
          cursor: pointer;
        }

      }
      .active {
        border-radius: 4px;
        text-decoration: none;
        position: relative;
        &:after {
          position: absolute;
          content: "";
          height: 4px;
          bottom: 2px;
          margin: 0 auto;
          left: 0;
          right: 0;
          width: 70%;
          background-color: var(--primary-color);
          border-radius: 2px;
        }
      }
    }
    .mobileMenu {
      margin: 0 20px 0 0;
      display: none;
      -webkit-transform: scaleX(-1);
      transform: scaleX(-1);
      .bar {
        height: 4px;
        width: 36px;
        margin: 4px 0;
        border-radius: 2px;
        background-color: var(--primary-text-color);

        &:first-child {
          width: 60%;
        }
      }
    }
    .dropdown{
      
      .dropdownContent{
        text-align: left;
        background-color: #4e4e54;
        z-index: 1;
        visibility: hidden;
        opacity: 0;
        position: absolute;
        transition: all 0.5s ease;
        margin-top: 2rem;
        display: none;
        display:flex;
        flex-direction:column;
        padding: 0px;
        border-radius: 4px;


        li{
          padding: 12px 12px 12px 0px;
        }
      }

      &:hover{
        .dropdownContent{
          visibility: visible;
          opacity: 1;
        }
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .header {
    /* position: fixed; */
    background-color: var(--primary-bg-color);
    nav {
      display: grid;
      grid-template-areas:
        "logo lang menu"
        "ul ul ul";
      grid-template-rows: 60px auto;
      min-height: 60px;

      .logo {
        font-size: 2rem;

        img {
          max-height: 70px;
        }
      }

      .navItems {
        margin: 0;
        grid-area: ul;
        display: none;
        -webkit-box-shadow: 0px 6px 9px -4px #111;
        box-shadow: 0px 6px 9px -4px #111;
        li {
          display: block;
          text-align: center;
          padding: 20px;
          width: 100%;
          margin: 8px auto;
          font-weight: 600;

          &:last-child {
            padding-right: 20px;
          }
        }
        .active {
          &:after {
            width: 20%;
          }
        }
      }
      .mobileMenu {
        grid-area: menu;
        display: block;
        float: right;
      }

      .active {
        display: block;
      }

      // Add resonsiveness on click for mobile (no hover)
      .dropdown{
      
        .dropdownContent{
         margin: 0 auto;
        }
      }
    }
  }
}
