.footer {
  margin-top: 200px;
  justify-content: center;
  width: 100%;
  text-align: center;
  font-size: 1.5rem;

  .copyright {
    color: var(--text-color2);
  }

  a {
    color: var(--secondary-color);
  }

  .socials {
    margin-right: auto;
    list-style: none;
    padding: 8px 0;

    li {
      list-style: none;
      padding: 0;
      display: inline-block;
      padding: 0 8px;

      &:hover {
        transform: scale(1.1);
      }

      a {
        img {
          height: 30px;
        }
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .footer {
    margin-top: 64px;
  }
}
