.email_container {
  .title {
    grid-area: title;
    margin: 0;
  }
  .desc {
    grid-area: desc;
    font-size: var(--subtitle);
    margin: 12px 0 8px 0;
  }
}

@media only screen and (max-width: 768px) {
  .email_container {
    .title {
      margin-bottom: 24px;
    }
    .desc {
      font-weight: normal;
    }

    form {
      grid-template-areas:
        "email"
        "text"
        "submit";
      grid-template-columns: 100%;

      input[type="submit"] {
        margin: 16px auto;
      }
    }
  }
}
