.side_nav {
  width: 100%;
  ul {
    margin: 0;
    padding: 0 20px 0 0;
    list-style-type: none;

    li {
      padding: 10px 0;
      font-size: var(--body-regular);
      color: var(--gray_400);
      font-weight: 600;

      .link {
        display: flex;
        /* grid-template-columns: auto 1fr; */
        column-gap: 8px;
        place-items: center;

        span {
          border: 1px solid var(--gray_300);
          border-radius: 50%;
          min-height: 16px;
          min-width: 16px;
        }

        .locked {
          border: none;
          background-image: url('../../public/assets/icons/satisfaction.png');
          background-size: contain;
          background-repeat: no-repeat;
        }
        .completed {
          border: none;
          background-image: url('../../public/assets/icons/check.svg');
          background-size: contain;
          background-repeat: no-repeat;
        }

        &:hover {
          color: var(--primary-text-color);
        }
      }
    }

    .chapter {
      border-bottom: 2px solid var(--gray_600);
      margin: 8px 0 4px 0;
      width: 80%;
      text-transform: uppercase;
      font-weight: 700;
      color: var(--primary-text-color);

      &:first-child {
        margin-top: 0;
      }
    }
    .indent {
      margin-left: 2px;
    }

    .selected {
      font-weight: 600;
      color: var(--primary-text-color);
    }
  }
}
