* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --main-bg-color: #303030;
  --accent-color: #7ecceb;
  --text-color: #fff;
}

.content{
  display:flex;
  align-items: center;
  justify-content: center;
  min-height:100vh;
}

html {
  font-size: 62.5%;
  background-color: var(--main-bg-color);
}

@media only screen and (max-width: 768px) {
  html {
    font-size: 55%;
  }
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
