.title{
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 10px;
}

.quote{
  font-size: 1.2em;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 40px
}

.content {
  .video {
    display: grid;
    margin: 0 auto;
    background-color: var(--secondary-bg-color);

    iframe {
      width: 100%;
      height: 675px;
      border: none;
    }

    .desc {
      padding: 16px;
      display: grid;
      gap: 16px;
      grid-template-areas:
        "desc desc"
        "author btn"
        "date btn";

      .description {
        grid-area: desc;
        margin: 0;
        font-size: var(--subtitle);
        font-weight: bold;
      }
      .author {
        grid-area: author;
        font-weight: 600;
        margin: 16px 0 0 0;
      }
      .date {
        grid-area: date;
        margin: 0;
      }

      a {
        grid-area: btn;
        width: 130px;
        margin: 0 0 0 auto;
        text-transform: uppercase;
        background-color: var(--secondary-bg-color);
        border: 2px solid var(--primary-color);
        height: 45px;
        border-radius: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: var(--button);
        font-weight: bold;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

        background: linear-gradient(to left, transparent 50%, var(--primary-color) 50%) right;
        background-size: 200%;
        transition: 0.4s ease-out;

        &:hover {
          background-position: left;
        }
      }
    }
  }

  code {
    background-color: #4e4e54;
    color: #f8f8f2;
    border-radius: 0.3em;
    padding: 5px 6px;
  }

  .markdown {
    h1, h2, h3 {
      margin-top: 2em;
    }
    li {
      font-size: var(--body-large);
      line-height: 1.8; 
      margin-right: 20px;
      margin-left: 20px
    }
    a {
      text-decoration: underline;
      color: rgb(65, 239, 255);
    }
    p {
      line-height: 1.8;
      font-size: 1.8em;
    }
    h1, h2, h3, h4, h5, h6, p {
      margin-right:40px;
      margin-left:40px;
    }
    pre {
      font-size: 1.8rem;
      margin-top: 33px;
      margin-bottom: 30px;
      box-shadow:
      0 1px 1px hsl(0deg 0% 0% / 0.075),
      0 2px 2px hsl(0deg 0% 0% / 0.075),
      0 4px 4px hsl(0deg 0% 0% / 0.075),
      0 8px 8px hsl(0deg 0% 0% / 0.075),
      0 16px 16px hsl(0deg 0% 0% / 0.075)
    ;
      border-radius: 0.5em;
      background-color: #1e1e20;
        code {
          background-color: transparent;
          padding: 0px;
        }
    }
    
  }
  

  @media only screen and (max-width: 768px) {
    .video {
      iframe {
        width: 100%;
        height: 275px;
        border: none;
      }

      .desc {
        grid-template-areas:
          "desc desc"
          "author btn"
          "date btn";

        a {
          width: 120px;
          height: 45px;
        }
      }
    }
  }
}
