.course_layout {
  display: grid;
  grid-template-areas:
    'menu .'
    'menu .';
  grid-template-columns: 35em auto;

  .menu {
    grid-area: menu;
    margin-right: 40px;
    height: 85vh;
    overflow-y: auto;
    position: sticky;
    top: 20px;
  }

  .video {
    display: flex;
    align-items: center;
    justify-content: center;
    height: max-content;

    .video_wrapper {
      position: relative;
      padding-top: 56.25%;
      width: 100%;
      height: 100%;

      iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: none;
      }

      .seen {
        background-color: transparent;
        border: none;
        padding: 4px 0;

        font-weight: bold;
        text-transform: uppercase;
        color: var(--gray_300);

        position: absolute;
        right: 0;

        &:hover {
          cursor: pointer;
          color: var(--gray_100);
        }
      }
    }

    .sign_in {
      background-color: rgb(10, 10, 10);
      display: grid;
      place-items: center;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      a {
        color: #41efff;
        &:hover {
          cursor: pointer;
          color: #41a3ff;
        }
      }
    }
  }

  .content {
    min-height: 100vh;

    code {
      background-color: #4e4e54;
      color: #f8f8f2;
      border-radius: 0.3em;
      font-size: 20px;
      padding: 5px 6px;
    }

    & > h1,
    & > h2,
    & > h3 {
      color: var(--yellow);
    }

    h1 {
      &:first-child {
        margin-top: 0.5em;
      }
    }

    li {
      font-size: var(--body-large);
      line-height: 1.8;
      margin-right: 20px;
      margin-left: 20px;
    }
    a {
      text-decoration: underline;
      color: rgb(65, 239, 255);
    }
    p {
      line-height: 1.8;
      font-size: 2em;
    }

    /* & > h1,
    & > h2,
    & > h3,
    & > h4,
    & > h5,
    & > h6,
    & > p {
    } */

    & > blockquote {
      color: var(--shade_80);
    }
    pre {
      font-size: 2rem;
      margin-top: 33px;
      margin-bottom: 30px;
      box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075),
        0 2px 2px hsl(0deg 0% 0% / 0.075), 0 4px 4px hsl(0deg 0% 0% / 0.075),
        0 8px 8px hsl(0deg 0% 0% / 0.075), 0 16px 16px hsl(0deg 0% 0% / 0.075);
      border-radius: 0.5em;
      background-color: #1e1e20;
      code {
        background-color: transparent;
        padding: 0px;
      }
    }
  }

  @media screen and (max-width: 1000px) {
    grid-template-areas:
      'video'
      'content'
      'menu';
    grid-template-columns: 1fr;
  }
}
