.container {
  .form {
    max-width: 700px;
    margin: 0 auto;
  }

  section {
    padding: 64px 0;
    &:first-child {
      margin: 0;
    }
    &:nth-child(2n + 1) {
      background-color: var(--secondary-bg-color);
    }
  }

  .header {
    text-align: center;
    padding: 120px 0;
    h1 {
      margin: 0;
    }
    h2 {
      font-weight: normal;
    }
    .form {
      margin-top: 60px;
    }
  }

  .introduction {
    .intro_text {
      max-width: 560px;
      margin: 0 auto;
      p {
        padding: 12px 0;
      }
    }
  }

  .flutter_course {
    text-align: center;
    h2 {
      font-weight: normal;
    }
    img {
      display: block;
      margin: 70px auto;
    }
  }

  .wyg {
    h2 {
      text-align: center;
    }
    .cards {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      place-items: center;
      margin-bottom: 80px;
      margin-top: 40px;
    }
    .quotes {
      margin-top: 60px;
      margin-bottom: 80px;
    }
    .module_cards {
      display: grid;
      place-items: center;
      margin-top: 40px;
    }
  }

  .about {
    display: grid;
    grid-template-columns: 50% auto;
    column-gap: auto;

    strong {
      font-size: var(--body-regular);
    }
    h2 {
      margin: 0;
    }
    p,
    strong {
      padding: 20px 0;
    }

    img {
      margin: 0 0 0 auto;
      height: 390px;
    }
  }

  .wpt {
    h2 {
      text-align: center;
      margin-bottom: 60px;
    }
  }

  .iirfm {
    h3,
    p {
      margin: 0 auto;
      max-width: 560px;
    }
    h3 {
      font-weight: normal;
    }
  }

  .quotes {
    margin: 0 auto;

    display: grid;
    row-gap: 32px;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
  }
}

@media only screen and (max-width: 1300px) {
  .container {
    padding-top: 32px;
    .introduction {
      grid-template-areas:
        "text"
        "toc";
      padding: 0 20px;

      .toc {
        margin-top: 3.2rem;
        margin-bottom: 3.2rem;
        padding: 5rem 2rem;
      }

      .calltoaction {
        width: max-content;
        margin: 0 auto;
      }
    }
    .header {
      padding: 80px 20px;
    }
    .about {
      grid-template-columns: 100%;
      p,
      strong {
        padding: 10px 0;
      }
      img {
        display: none;
      }
    }

    .quotes {
      grid-template-columns: 1fr;
    }
  }
}
