.container {
  margin-top: 100px;

  .introduction {
    margin-bottom: 142px;
    .content {
      display: grid;
      grid-template-areas:
        "intro intro"
        "featured sprite";

      .intro {
        grid-area: intro;
        h1 {
          margin: 0;
        }
        p {
          font-size: var(--subtitle);
          margin: 0;
        }
      }
      .featured {
        grid-area: featured;
        .card {
          display: grid;
          grid-template-areas:
            "img title"
            "img desc"
            "img btn"
            "img .";
          grid-template-rows: auto auto 50px auto;

          column-gap: 42px;
          row-gap: 16px;

          .preview {
            grid-area: img;
            width: 500px;
          }
          .title {
            grid-area: title;
            font-size: var(--subtitle);
            font-weight: bold;
            margin: 0;
          }
          .desc {
            grid-area: desc;
            margin: 0;
          }

        }
      }
      .sprite {
        grid-area: sprite;
        max-height: 500px;
      }
    }
  }

  .puffs {
    padding: 120px 0;
    .content {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(340px, 360px));
      justify-content: space-between;
      row-gap: 24px;
      .card {
        display: grid;
        grid-template-areas:
          "img"
          "title"
          "desc";
        grid-template-rows: repeat(3, min-content);
        row-gap: 18px;

        img {
          height: 50px;
          width: 50px;
        }
        h3 {
          margin: 0;
        }
        p {
          font-size: var(--subtitle);
          margin: 0;
          line-height: 28px;
          a {
            font-weight: bold;
          }
        }
      }
    }
  }

  .testimonial {
    padding: 142px 0;
    background-color: var(--secondary-bg-color);
    .content {
      text-align: center;
      .title {
        margin: 0;
      }
      .testimonials {
        margin-top: 68px;
        display: grid;
        grid-template-areas:
          "one one one"
          "two three three"
          "four four five";
        row-gap: 42px;

        img {
          margin: 0 auto;

          &:nth-child(1) {
            grid-area: one;
          }
          &:nth-child(2) {
            grid-area: two;
          }
          &:nth-child(3) {
            grid-area: three;
          }
          &:nth-child(4) {
            grid-area: four;
          }
          &:nth-child(5) {
            grid-area: five;
          }
        }
      }
    }
  }

  .newsletter {
    padding: 100px 0;
    background-color: var(--secondary-bg-color);
  }

  .about_me {
    background-color: var(--secondary-bg-color);
    .content {
      max-width: 790px;
      display: grid;
      grid-template-areas:
        "title title"
        " .   img"
        "text img"
        " .   img";
      .title {
        grid-area: title;
        text-align: center;
      }
      .desc {
        grid-area: text;
        font-size: var(--subtitle);
      }
      .sprite {
        grid-area: img;
        width: 250px;
      }
      span {
        font-weight: bold;
      }
    }
  }
}

@media only screen and (max-width: 1300px) {
  .container {
    margin-top: 0;
    .introduction {
      .content {
        grid-template-areas:
          "intro sprite"
          "featured featured";
        grid-template-columns: 80% auto;

        .intro {
          h1 {
            margin-bottom: 8px;
          }
        }

        .featured {
          text-align: center;
          margin-top: 32px;
          h2 {
            margin-bottom: 8px;
          }
          .card {
            grid-template-areas:
              "title"
              "img"
              "desc"
              "btn";
            grid-template-rows: auto;
            column-gap: 0;
            row-gap: 16px;

            .preview {
              max-width: 340px;
              margin: 0 auto;
            }
            .title {
              font-weight: normal;
            }
            .button {
              margin: 0 auto;
              height: 50px;
            }
            .browse {
              margin: 0 auto;
            }
          }
        }

        .sprite {
          max-width: 170px;
          margin: auto 0 0 0;
        }
      }
    }
    .testimonial {
      .content {
        .testimonials {
          grid-template-areas:
            "five"
            "three"
            "four"
            "one"
            "two";
          grid-template-columns: unset;
          row-gap: 24px;

          img {
            max-width: 100%;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .container {
    .introduction {
      margin-bottom: 42px;
      .content {
        .sprite {
          max-width: 70px;
        }
      }
    }
    .puffs {
      padding: 42px 0;
      .content {
        justify-content: center;
        text-align: center;

        img {
          margin: 0 auto;
        }
      }
    }
    .testimonial {
      padding: 42px 0;
      .content {
        .testimonials {
          row-gap: 16px;
        }
      }
    }
    .newsletter {
      padding: 52px 0;
      text-align: center;
    }
    .about_me {
      margin-top: 42px;
      .content {
        max-width: 900px;
        display: grid;
        grid-template-areas:
          "title title"
          "text img";
        .title {
          grid-area: title;
          text-align: center;
        }
        .desc {
          grid-area: text;
          font-size: var(--subtitle);
        }
        .sprite {
          grid-area: img;
          width: 125px;
        }
        span {
          font-weight: bold;
        }
      }
    }
  }
}
