.container {
  margin-top: 80px;

  .section_one {
    .content {
      display: grid;
      grid-template-areas:
        "intro sprite"
        "featured sprite";

      .intro {
        grid-area: intro;
        h1 {
          margin: 0;
        }
        p {
          font-size: var(--subtitle);
          margin: 0;
        }
      }
      .featured {
        grid-area: featured;
        .card {
          display: grid;
          grid-template-areas:
            "img title"
            "img desc"
            "img btn"
            "img .";
          grid-template-rows: 30px auto 50px auto;

          column-gap: 42px;
          row-gap: 32px;

          .preview {
            grid-area: img;
            width: 500px;
          }
          .title {
            grid-area: title;
            font-size: var(--subtitle);
            font-weight: bold;
            margin: 0;
          }
          .desc {
            grid-area: desc;
            margin: 0;
          }
          button {
            grid-area: btn;
            width: 150px;
          }
        }
      }
      .sprite {
        grid-area: sprite;
        max-height: 650px;
      }
    }
  }

  .section_two {
    margin-top: 142px;
    padding: 120px 0;
    background-color: var(--secondary-bg-color);
    .content {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(320px, 340px));
      justify-content: space-between;
      row-gap: 24px;
      .card {
        display: grid;
        grid-template-areas:
          "img"
          "title"
          "desc";
        row-gap: 18px;

        img {
          height: 50px;
          width: 50px;
        }
        h3 {
          margin: 0;
        }
        p {
          font-size: var(--subtitle);
          margin: 0;
          line-height: 28px;
          a {
            font-weight: bold;
          }
        }
      }
    }
  }

  .section_three {
    padding: 142px 0;
    .content {
      text-align: center;
      .title {
        margin: 0;
      }
      .testimonials {
        margin-top: 68px;
        display: grid;
        grid-template-areas:
          "one one one"
          "two three three"
          "four four five";
        grid-template-columns: min-content min-content;
        row-gap: 42px;

        img {
          margin: 0 auto;

          &:nth-child(1) {
            grid-area: one;
          }
          &:nth-child(2) {
            grid-area: two;
          }
          &:nth-child(3) {
            grid-area: three;
          }
          &:nth-child(4) {
            grid-area: four;
          }
          &:nth-child(5) {
            grid-area: five;
          }
        }
      }
    }
  }

  .section_four {
    padding: 100px 0;
    background-color: var(--secondary-bg-color);
    .content {
      max-width: 1100px;
      display: grid;
      grid-template-areas:
        "sprite . ."
        "sprite title title"
        "sprite desc desc"
        "sprite form form"
        "sprite giveaway giveaway"
        "sprite . .";
      grid-template-columns: min-content auto;
      column-gap: 55px;

      .sprite {
        grid-area: sprite;
      }
      .title {
        grid-area: title;
        margin: 0;

        span {
          color: var(--secondary-color);
        }
      }
      .desc {
        grid-area: desc;
        font-weight: bold;
        font-size: var(--subtitle);
        max-width: 580px;
        margin: 12px 0 8px 0;
      }
      form {
        grid-area: form;
        display: grid;
        grid-template-areas: "email submit";
        grid-template-columns: auto 155px;

        input {
          border: none;
          border-radius: 4px;
          margin: 8px 0;
          height: 55px;

          &:focus {
            outline: none;
          }
        }
        input[type="email"] {
          grid-area: email;
          text-indent: 2rem;
          border-radius: 4px 0 0 4px;
          background-color: var(--primary-bg-color);
          color: var(--primary-text-color);

          &::placeholder {
            color: var(--primary-text-color);
            font-size: var(--body-large);
          }
        }
        input[type="submit"] {
          grid-area: submit;
          cursor: pointer;
          text-transform: uppercase;
          border-radius: 0 4px 4px 0;
          background-color: var(--primary-color);
          color: var(--primary-text-color);
          font-size: var(--body-regular);
          font-weight: bold;
        }
      }
      .giveaway {
        grid-area: giveaway;
        font-size: var(--body-regular);
        margin: 0;
      }
    }
  }

  .section_five {
    margin-top: 142px;
    .content {
      max-width: 850px;
      display: grid;
      grid-template-areas:
        "title title"
        " .   img"
        "text img"
        " .   img";
      .title {
        grid-area: title;
        text-align: center;
      }
      .desc {
        grid-area: text;
        font-size: var(--subtitle);
      }
      .sprite {
        grid-area: img;
        width: 250px;
      }
      span {
        font-weight: bold;
      }
    }
  }
}

@media only screen and (max-width: 1300px) {
  .container {
    .section_one {
      .content {
        grid-template-areas:
          "intro sprite"
          "featured featured";
        grid-template-columns: 80% auto;

        .intro {
          h1 {
            margin-bottom: 8px;
          }
        }

        .featured {
          text-align: center;
          margin-top: 32px;
          h2 {
            margin-bottom: 8px;
          }
          .card {
            grid-template-areas:
              "title"
              "img"
              "desc"
              "btn";
            grid-template-rows: auto;
            column-gap: 0;
            row-gap: 16px;

            .preview {
              max-width: 340px;
              margin: 0 auto;
            }
            .title {
              font-weight: normal;
            }
            button {
              margin: 0 auto;
              height: 50px;
            }
          }
        }

        .sprite {
          max-width: 170px;
          margin: auto 0 0 0;
        }
      }
    }
    .section_three {
      .content {
        .testimonials {
          grid-template-areas:
            "five"
            "three"
            "four"
            "one"
            "two";
          grid-template-columns: unset;
          row-gap: 24px;

          img {
            max-width: 100%;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .container {
    .section_one {
      .content {
        .sprite {
          max-width: 70px;
        }
      }
    }
    .section_two {
      margin-top: 42px;
      padding: 42px 0;
      .content {
        justify-content: center;
        text-align: center;

        img {
          margin: 0 auto;
        }
      }
    }
    .section_three {
      padding: 42px 0;
      .content {
        .testimonials {
          row-gap: 16px;
        }
      }
    }
    .section_four {
      padding: 52px 0;
      .content {
        /* max-width: 0px; */
        grid-template-areas:
          "title"
          "desc"
          "form";
        grid-template-columns: unset;

        .sprite,
        .giveaway {
          display: none;
        }
        form {
          grid-template-areas:
            "email"
            "submit";
          grid-template-columns: unset;
          input[type="email"] {
            border-radius: 4px;
          }
          input[type="submit"] {
            width: 150px;
            border-radius: 4px;
          }
        }
      }
    }
    .section_five {
      margin-top: 42px;
      .content {
        max-width: 900px;
        display: grid;
        grid-template-areas:
          "title title"
          "text img";
        .title {
          grid-area: title;
          text-align: center;
        }
        .desc {
          grid-area: text;
          font-size: var(--subtitle);
        }
        .sprite {
          grid-area: img;
          width: 125px;
        }
        span {
          font-weight: bold;
        }
      }
    }
  }
}
