.app {
  color: #fff;
  display: grid;
  position: relative;

  .app__main {
    margin-top: 160px;
    h1,
    p {
      font-size: 4.8rem;
      line-height: 5.2rem;
      margin: 40px 0;

      span {
        color: var(--accent-color);
      }
    }

    form {
      display: grid;
      grid-template-areas:
        "label label"
        "email submit"
        "span  span";
      grid-template-columns: 68% 20%;
      label {
        grid-area: label;
        font-size: 3rem;
        font-weight: 600;
      }
      span {
        grid-area: span;
        color: #b2b2b2;
        font-size: 1.2rem;
      }
      input {
        height: 5rem;
        border: none;
        color: #ddd;
        font-size: 1.6rem;
        margin: 8px 0;
      }
      input[type="email"] {
        grid-area: email;
        border-radius: 4px 0 0 4px;
        text-indent: 1rem;
        background-color: #1a1a1a;
      }
      input[type="submit"] {
        grid-area: submit;
        border-radius: 0 4px 4px 0;
        background-color: #484848;
        font-weight: bold;
        cursor: pointer;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .app {
    .app__main {
      margin-top: 40px;
      form {
        grid-template-areas:
          "label"
          "email"
          "submit"
          "span";
        grid-template-columns: unset;

        input[type="email"] {
          margin-bottom: 0;
          border-radius: 4px;
        }
        input[type="submit"] {
          width: 40%;
          height: 4.5rem;
          border-radius: 4px;
        }
      }
    }
  }
}
