.content {
  h1 {
    font-size: 4.8rem;
    font-weight: 600;
  }

  .video {
    display: grid;
    margin: 0 auto;
    background-color: #545454;

    iframe {
      width: 100%;
      height: 675px;
      border: none;
    }

    .desc {
      padding: 16px;
      display: grid;
      gap: 16px;
      grid-template-areas:
        "desc btn"
        "author socials";
      h2 {
        grid-area: desc;
        margin: 0;
      }
      h4 {
        grid-area: author;
      }

      a {
        grid-area: btn;
        cursor: pointer;
        text-align: center;
        margin-left: auto;
        height: 40px;
        width: 100px;
        border: none;
        border-radius: 4px;
        background-color: #24292e;
        color: #fff;
        font-size: 16px;
        line-height: 40px;

        &:hover {
          background-color: #fff;
          color: #000;
        }
      }
    }
  }

  .markdown {
    p {
      font-size: 1.8rem;
    }
    h3 {
      font-size: 2.4rem;
    }
    li {
      font-size: 1.6rem;
    }
    a {
      text-decoration: underline;
      color: rgb(65, 239, 255);
    }
  }
  pre {
    font-size: 2.6rem;
    box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
    border-radius: 0.5em;
  }

  @media only screen and (max-width: 768px) {
    .video {
      iframe {
        width: 100%;
        height: 275px;
        border: none;
      }

      .desc {
        grid-template-areas:
          "desc desc desc"
          "author socials btn";
      }
    }
  }
}
